{% extends 'base.html.twig' %}

{% block title %}Edit CustomerReviews{% endblock %}

{% block body %}
    <h1>Edit CustomerReviews</h1>

    {{ include('customer_reviews/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_customer_reviews_index') }}">back to list</a>

    {{ include('customer_reviews/_delete_form.html.twig') }}
{% endblock %}
