{% extends 'base.html.twig' %}

{% block title %}New CustomerReviews{% endblock %}

{% block body %}
    <h1>Create new CustomerReviews</h1>

    {{ include('customer_reviews/_form.html.twig') }}

    <a href="{{ path('app_customer_reviews_index') }}">back to list</a>
{% endblock %}
