<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				May-Dia YANG - Coach développement personnel
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> {% block stylesheets %}{% endblock %}
		{{ encore_entry_link_tags('app') }}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	<body class="h-screen text-center">
		{% block body %}
			{% block navbar %}
				{% include "header.html.twig" %}
			{% endblock %}

			{# Créer un block content afin de modifier le contenu quand on change de page.(https://stackoverflow.com/questions/59812003/tailwindcss-fixed-sticky-footer-on-the-bottom) #}
			{# mb-auto pour que la marge se met automatiquement #}
			<section class="mb-auto">
				{% block content %}{% endblock %}
			</section>

			{% block footer %}
				{% include "footer.html.twig" %}
			{% endblock %}
		{% endblock %}
	</body>

</html>
