{% extends 'base.html.twig' %}
{% block body %}
	<h1 class="bg-blue-700">
		Article
	</h1>
	{% if visible %}

		<ul>
			{% for article in articles %}
				<li>{{ article }}</li>
			{% endfor %}
		</ul>
	{% endif %}

{% endblock %}
