<footer>
	<div class="bg-black p-4">
		<ul class="flex justify-center text-white">
			<li class="m-4">Lorem ipsum</li>
			<li class="m-4">Lorem ipsum</li>
			<li class="m-4">Lorem ipsum</li>
		</ul>
	</div>
</footer>
