<header>
	<nav class="bg-black p-4">
		<ul class="flex justify-center text-white">
			<li class="m-4">
				<a href="{{ path('home') }}">Home</a>
			</li>
			<li class="m-4">
				<a href="{{ path('concept') }}">Concept</a>
			</li>
			<li class="m-4">
				<a href="{{ path('about') }}">About</a>
			</li>
			<li class="m-4">
				<a href="{{ path('contact') }}">Contact</a>
			</li>
		</ul>
	</nav>
</header>
