{% extends 'base.html.twig' %}

{% block content %}

	<div class="relative">
		<img src=" {{ asset('images/image_presentation.jpg') }}" alt="Femme bien-être">
		<div class="absolute place-content-center">
			<h1>
				Welcome
			</h1>
		</div>
	</div>


{% endblock %}
