{% extends 'base.html.twig' %}

{% block content %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, quae! Fugiat ea at minus quis mollitia deleniti? Molestias earum velit cupiditate, aspernatur architecto, excepturi quis eos in rem perspiciatis quaerat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, quae! Fugiat ea at minus quis mollitia deleniti? Molestias earum velit cupiditate, aspernatur architecto, excepturi quis eos in rem perspiciatis quaerat?</p>
{% endblock %}