{% extends "base.html.twig" %}
{% block body %}
	<p>Email:
		{{ user.email }}</p>
	<p>Password:
		{{ user.password }}</p>
		<button class="bg-red">
			<a href="{{ path('user_delete', {
				'id': user.id,
				'method': 'DELETE'
			}) }}">Delete</a>
		</button>
		
{% endblock %}
